<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwarts School</title>
  </head>
  <body>
    <a href="/students">Students Homepage</a>
    <%= yield  %>
  </body>
</html>
